#title{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Volumes/Gyanesh's HardDrive/Gyanesh's Documents/MyProjects/Dasmoto's Arts & Crafts/resources/pattern.jpeg");
}

.categories{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes{
    background-color: mediumspringgreen;
}

#frames{
    background-color: lightcoral;
}

#paint{
    background-color: skyblue;
}

.highlight{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.subhead, p{
    font-family: Helvetica;
}
